.App {
  text-align: center;
  margin: 13px;
  border: 1px solid #00c5fffe;
}

.cell {
  height: 8px;
  width: 8px;
  background-color: #000000;
  border: 1px solid #00c5fffe;
  padding: 5px;
  display: inline-block;
  margin: 0px;
}
